@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {

  --color-neutral-950: #0E121B;
  --color-neutral-900: #191B25;
  --color-neutral-800: #232530;
  --color-neutral-700: #2B303B;
  --color-neutral-600: #525866;
  --color-neutral-500: #717784;
  --color-neutral-400: #99A0AE;
  --color-neutral-300: #CACFD8;
  --color-neutral-200: #E0E4EA;
  --color-neutral-100: #F3F5F8;
  --color-neutral-50: #F5F7FA;
  --color-neutral-0: #FFFFFF;

  --color-blue-700: #2547D0;
  --color-blue-500: #335CFF;
  --color-blue-50: #EBF1FF;

  --color-green-500: #21C16B;
  --color-green-100: #D1FBE9;

  --color-red-500: #FB3748;
  --color-red-100: #FFD5D8;

  --font-inter: var(--font-inter), sans-serif;
  --font-noto: var(--font-noto), serif;
  --font-source-code: var(--font-source-code), monospace;
  --font-pacifico: var(--font-pacifico);

  --tracking-1: -0.5px;
  --tracking-2: -0.3px;
  --tracking-3: -0.2px;

  --drop-shadow-dark: 0 -4px 6px rgba(0, 0, 0, 0.3);
  --drop-shadow-sm: 0 4px 6px rgba(240, 240, 240, 0.6);
  --drop-shadow-lg: 0 8px 12px rgba(240, 240, 240, 0.6);
  --drop-shadow-nav: 0 -4px 6px rgba(240, 240, 240, 0.6);
  --drop-shadow-button: 0 7px 11px rgba(202, 207, 216, 0.7);
  --shadow-border:  0 0 0 2px rgba(240,240,240), 0 0 0 4px rgba(153,160,174);

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
}

html,
body,
:root {
  @apply h-full
}